@model BookReview.Models.Book



<h2>Детали о книге</h2>



<table class="searchResultTable">

    <tr>
        <td class="bookThumbnailTd">
            <img class="bookThumbnail" src="@Model.Picture" /> <br />
             
@if (Request.IsAuthenticated)
{
    <span id="CanBeAdded">
    @if (ViewBag.AddToFavz == false) 
    {  
    @Ajax.ActionLink("Добавить", "AddToFavs", "Profile", new { id = Model.BookId }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "CanBeAdded", InsertionMode = InsertionMode.Replace })
    }else{
       <span>Добавлена</span> 
    }
    </span>
}
        </td>

        <td class="bookDetailsTd">
            @if (!string.IsNullOrEmpty(Model.Title))
            { @Html.DisplayFor(modelItem => Model.Title) <br />}

            @if (!string.IsNullOrEmpty(Model.Author))
            { @Html.DisplayFor(modelItem => Model.Author)<br />}

            @Html.DisplayFor(modelItem => Model.Year)<br />

            @if (!string.IsNullOrEmpty(Model.Publisher))
            {  @Html.DisplayFor(modelItem => Model.Publisher)<br />}

            @if (!string.IsNullOrEmpty(Model.Series))
            {@Html.DisplayFor(modelItem => Model.Series)<br />}

            @if (!string.IsNullOrEmpty(Model.Language))
            {  @Html.DisplayFor(modelItem => Model.Language)<br />}

            @if (!string.IsNullOrEmpty(Model.Page_extent))
            {   @Html.DisplayFor(modelItem => Model.Page_extent) <span> Страниц</span><br />}

            ISBN: @Html.DisplayFor(modelItem => Model.ISBN) <br />

            Цена: @Html.DisplayFor(modelItem => Model.Price)<br />

            <a href="@Model.Url">Купить</a>
        </td>

        <td class="bookDescriptionTd">
            @Html.DisplayFor(modelItem => Model.Description)
            @if (Model.Description.Length > 900)
            {
                <br />
                <a href="@Model.Url">Подробнее на сайте интернет магазина -></a>
            }
        </td>
    </tr>
</table>
   

@{Html.RenderAction("Reply", "AddReview", new { id = Model.BookId });}





