@using PagedList.Mvc;
@model PagedList.IPagedList<BookReview.Models.BookViewModel>

@{
    ViewBag.Title = "La Resultate поиска";
}

<h2>Результат поиска</h2>
<br />
 
<table class="searchResultTable">
    @foreach (var item in Model)
    {  
        <tr>
            <td class="bookThumbnailTd">
                <img class="bookThumbnail" src="@item.Picture" /> <br />
                 
                @Html.ActionLink("Подробней", "Details", new { id = item.BookId })  
             @if (Request.IsAuthenticated)
                    {
                              
                                <span id="@item.BookId">
                                    @if (item.AddedToFavs == false)
                                    {
                                        @Ajax.ActionLink("Добавить", "AddToFavs", "Profile", new { id = item.BookId }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = @item.BookId.ToString(), InsertionMode = InsertionMode.Replace })
                                    }
                                    else
                                    {
                                        <span><img class="favouriteIcon" src="http://upload.wikimedia.org/wikipedia/commons/3/31/Crystal_Project_Package_favorite.png" /></span>
                                    }
                                </span> 
                    }


            </td>
            <td class="bookDetailsTd">
                @if (!string.IsNullOrEmpty(item.Title))
                { @Html.DisplayFor(modelItem => item.Title) <br />}
                @if (!string.IsNullOrEmpty(item.Author))
                { @Html.DisplayFor(modelItem => item.Author)<br />}

                @Html.DisplayFor(modelItem => item.Year)<br />
                @if (!string.IsNullOrEmpty(item.Publisher))
                {  @Html.DisplayFor(modelItem => item.Publisher)<br />}

                @if (!string.IsNullOrEmpty(item.Series))
                {@Html.DisplayFor(modelItem => item.Series)<br />}

                @if (!string.IsNullOrEmpty(item.Language))
                {  @Html.DisplayFor(modelItem => item.Language)<br />}

                @if (!string.IsNullOrEmpty(item.Page_extent))
                {   @Html.DisplayFor(modelItem => item.Page_extent) <span> Страниц</span><br />}

                ISBN: @Html.DisplayFor(modelItem => item.ISBN) <br />

                Цена: @Html.DisplayFor(modelItem => item.Price)<br />
                <a href="@item.Url">Купить</a>
            </td>

            <td class="bookDescriptionTd">
                @Html.DisplayFor(modelItem => item.Description)
                @Html.ActionLink("Подробнее", "Details", new { id = item.BookId }, new { @class = "podrobneeLink" });
            </td>
        </tr>
    }
</table>


<div id='Paging' style="text-align:center">
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
    of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index", "Book", new { page, searchString = ViewBag.SearchString }))
</div>